<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="stylesheet" href="../public/css/post.css">
    <title>우리동네</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="../img/main_icon/main_icon.png" alt="메인 페이지" id="main_img"></li>
                <li>
                    <h1>우리동네</h1>
                </li>
                <li>
                    <form id="search_input">
                        <input type="text" placeholder="우리동네 최저가 상품 검색하기">
                        <img id="search_img" src="../img/icon/search.png" alt="">
                    </form>
                </li>
                <li id="home_icon_li">
                    <img src="../img/icon/home.png" alt="" id="home_icon">
                </li>
                <li><a href="./index.html" id="home"><p>홈</p></a></li>
                <li>
                    <img id="search_menu_icon" src="../img/icon/search_menu_icon.png" alt="">
                </li>
                <li>
                    <a href="./dis_page.html">제철상품 찾기</a>
                </li>
                <li id="logout_icon_li">
                    <img src="../img/icon/logout.png" alt="" id="logout_icon">
                </li>
                <li>
                    <a href="" id="logout"><p>로그아웃</p></a>
                </li>
                <li id="user_icon">
                    <a href=""><img src="../img/icon/user_icon.png" alt=""></a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="top">
            <div id="img">
                <img src="../img/ma.jpg" alt="">
            </div>
            <div id="desc">
                <h1>마늘 10kg</h1>
                <p id="price">50000원</p>
                <p id="desc_title">상세정보 : </p>
                <p>의성 마늘 10kg 판매 합니다.
                    유기농으로 직접 수확하였습니다수확하였습니다.
                    내고 불가능 하고 반품 가능합니다. 카드 결제 안됩니다.
                </p>
            </div>
        </div>
        <div id="cards">
            <div class="card">
                <img src="../img/ma.jpg" alt="">
                <p>인생 로그아웃 하고 싶어요 라고하면 안되겠죠</p>
            </div>
            <div class="card">
                <img src="../img/ma.jpg" alt="">
                <p>인생 로그아웃 하고 싶어요 라고하면 안되겠죠</p>
            </div>
            <div class="card">
                <img src="../img/ma.jpg" alt="">
                <p>인생 로그아웃 하고 싶어요 라고하면 안되겠죠</p>
            </div>
            <div class="card">
                <img src="../img/ma.jpg" alt="">
                <p>인생 로그아웃 하고 싶어요 라고하면 안되겠죠</p>
            </div>
            <div class="card">
                <img src="../img/ma.jpg" alt="">
                <p>인생 로그아웃 하고 싶어요 라고하면 안되겠죠</p>
            </div>
        </div>
        
    </main>
    <script src="../js/all.js"></script>
</body>
</html>