body {
    margin: 0;
}

main {
    width: 1530px;
    margin: 150px auto 0 auto;
}

#top {
    display: flex;
}

#desc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.card img {
    border-radius: 13px;
    width: 290px;
    height: 201px;
}

#cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 290px;
    height: 266px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

#desc h1 {
    font-weight: 600;
    font-size: 40px;
}

#top img {
    width: 418px;
    height: 403px;
    border-radius: 12px;
}

#desc p, h1 {
    margin:  0 0 0 50px;
}

#price {
    font-size: 60px;
    font-weight: 1000;
}

#desc_title {
    font-weight: 900;
    font-size: 20px;
}